html {
  @media (prefers-color-scheme: dark) {
    background-color: #000;
    color: #fff;
  }
}
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
