.container {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'main'
    'footer';
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
}

.main {
  grid-area: main;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}